

        <div>
            <h2>TravelPlanet  <button>Logout</button></h2>
        </div>
        
                <button mat-rised-button  class="btn btn-success" (click)="onClick()">Add</button>
        
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

            
          
            <!-- Position Column -->
            <ng-container matColumnDef="Hotel">
              <th mat-header-cell *matHeaderCellDef> Hotel </th>
              <td mat-cell *matCellDef="let element"> {{element.Hotel}} </td>
            </ng-container>
          
            <!-- Name Column -->
            <ng-container matColumnDef="Arrival">
              <th mat-header-cell *matHeaderCellDef> Arrival </th>
              <td mat-cell *matCellDef="let element"> {{element.Arrival}} </td>
            </ng-container>
          
            <!-- Weight Column -->
            <ng-container matColumnDef="Departure">
              <th mat-header-cell *matHeaderCellDef> Departure </th>
              <td mat-cell *matCellDef="let element"> {{element.Departure}} </td>
            </ng-container>
          
            <!-- Symbol Column -->
            <ng-container matColumnDef="Type">
              <th mat-header-cell *matHeaderCellDef> Type </th>
              <td mat-cell *matCellDef="let element"> {{element.Type}} </td>
            </ng-container>
          

            <ng-container matColumnDef="Guest">
                <th mat-header-cell *matHeaderCellDef> Guest </th>
                <td mat-cell *matCellDef="let element"> {{element.Guest}} </td>
              </ng-container>

              <ng-container matColumnDef="price">
                <th mat-header-cell *matHeaderCellDef> price </th>
                <td mat-cell *matCellDef="let element"> {{element.price}} </td>
              </ng-container>

              <ng-container matColumnDef="Manage">
                <th mat-header-cell *matHeaderCellDef> Manage </th>
                <td mat-cell *matCellDef="let element"> <button>edit</button>|<button></button> </td>
              </ng-container>


            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
          
      
